[submodule "CryptoPkg/Library/OpensslLib/openssl"]
	path = CryptoPkg/Library/OpensslLib/openssl
	url = https://github.com/openssl/openssl
[submodule "MicroPythonPkg\\MicroPythonDxe\\oniguruma"]
	path = MicroPythonPkg/MicroPythonDxe/oniguruma
	url = https://github.com/kkos/oniguruma
[submodule "MicroPythonPkg\\MicroPythonDxe\\micropython"]
	path = MicroPythonPkg\\MicroPythonDxe\\micropython
	url = https://github.com/jwang36/micropython.git
